<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 ">
            <h4>Addresses</h4>
            <small class="text-muted "> Add, remove and select preferred addresses</small>
            <div class="main_section mt-5">
                <!-- this h1 will show if totalLenght < 1 -->
                <h1 *ngIf="totalLenght < 1" style="text-align:center; padding:50px"> you don't Entered Addesses Yet</h1>
                <!-- this h1 will show if totalLenght < 1 -->
            </div>
        </div>
    </div>
</div>