<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color=" rgb(254, 206, 47)" type="square-jelly-box" [fullScreen]="true">
</ngx-spinner>


<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 " *ngFor="let item of data">
            <div class="product-grid2">
                <div class="product-image2">
                    <div class="text-center">
                        <a>
                            <img class="pic-1" [src]=" !item?.image  ? '../../../../assets/img/logo.jpg': item?.image" onerror="this.src='../../../../assets/img/logo.jpg';">
                        </a>
                    </div>

                    <ul class="social">
                        <li><a data-tip="Quick View" [routerLink]="[ '/product',item.id ]"><i class="fa fa-eye"></i></a></li>
                        <li><a data-tip="Add to Cart" (click)="addProduct(item )"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a class="add-to-cart" (click)="addProduct(item )">Add to cart</a>
                </div>
                <div class="product-content">
                    <h3 class="title">{{item?.title}}</h3>
                    <span class="price">{{item?.price | currency :"EGP"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
