<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 ">
            <h4>profile</h4>
            <small class="text-muted "> manage your profile details</small>
            <div class="main_section mt-5">

                <p>General Information</p>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label class="text-muted"> first Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Fname">

                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label class="text-muted"> Last Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Lname">

                        </div>
                    </div>
                    <div class="align-self-end ml-auto">
                        <button class="btn btn-masterd ">save</button>

                    </div>
                </div>
            </div>
            <div class="main_section mt-5">
                <p>Security</p>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label class="text-muted"> change password</label>
                            <input type="password" class="form-control" value="12345678">
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label class="text-muted"> confirm password</label>
                            <input type="password" class="form-control" value="12345678">
                        </div>
                    </div>
                    <div class="align-self-end ml-auto">
                        <button class="btn btn-info ">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>